* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(63, 52, 30); /* gris foncé */
  display: grid;
  justify-content: center;
  align-content: center;
}

h1{
    color: rgb(174, 179, 5);
}

::-webkit-input-placeholder {
  color: #ccc;
}

.wrapper {
  position: relative;
  width: 800px;
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid rgb(111, 100, 35); /*gris doux */
  box-shadow: 0 0 50px rgba(0, 153, 119, 0.5);
  background-color: #333333; /* noir */
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem
}

.title {
  font-size: 35px;
  color: rgb(21, 61, 128);
}

button{
  border: radius;
  outline: none;
  width: 288px;
  margin-top: 25px;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  background: rgb(174, 179, 5);
  color: #fff;
}

button:hover{
    text-transform: uppercase;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.input {
  border: none;
  outline: none;
  background: none;
  width: 260px;
  margin-top: 40px;
  padding-right: 10px;
  font-size: 17px;
  color: #fff/*rgb(21, 61, 128)*/;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}
input:hover{
  /*text-transform: uppercase;*/
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.in:last-child {
  width: 120px;
  background: #00b4d8;
  transition: 0.5s;
}
inp:last-child:hover{
  transition: 0.5s;
}

.link {
  color: rgb(0, 153, 119);
  text-decoration: none;
}

.banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 390px;
  background: linear-gradient(to right, rgb(111, 100, 35), rgb(63, 52, 30));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
  padding-right: 70px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.logo img {
  width: 15em;
  margin-bottom: 1em;
}

.wel_text {
  font-size: 40px;
  margin-top: -50px;
  line-height: 50px;
  color: #fff;
}

