<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'Style.css')}}">
    <title>Ajouter Maneu</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#FFD700',
                        secondary: '#4ADE80',
                        dark: '#1A1A1A',
                        glass: 'rgba(30, 30, 30, 0.7)',
                    },
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                        display: ['Poppins', 'sans-serif'],
                    },
                }
            }
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <h1>Entrer les informations</h1>
        <form method="POST" id="menu_form"  enctype="multipart/form-data" class="space-y-4"> <!--onsubmit="alert('Plat ajouté avec succès !')"!-->
            <div>
                <label class="block mb-1">Nom du plat</label>
                <input type="text" name="nom" required class="w-full p-2 rounded bg-gray-800 text-white border border-gray-600">
            </div>
            <div>
                <label class="block mb-1">Description</label>
                <textarea name="description" rows="3" class="w-full p-2 rounded bg-gray-800 text-white border border-gray-600"></textarea>
            </div>
            <div>
                <label class="block mb-1">Prix (FCFA)</label>
                <input type="number" step="100" name="prix" required class="w-full p-2 rounded bg-gray-800 text-white border border-gray-600">
            </div>
            <div>
                <label class="block mb-1">Image</label>
                <input type="file" name="image" accept="image/*" required class="w-full p-2 rounded bg-gray-800 text-white border border-gray-600">
            </div>
            <div>
                <label class="block mb-1">Catégorie</label>
                <select name="categorie" required class="w-full p-2 rounded bg-gray-800 text-white border border-gray-600">
                    <option value="">-- Sélectionner --</option>
                    <option value="Dejeuner">Déjeuner</option>
                    <option value="Entrer">Entrer</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Boisson">Boisson</option>
                    <option value="Vegetarien">Végétarien</option>
                </select>
            </div>
            <button type="submit" class="w-full py-2 px-4 bg-primary text-dark font-semibold rounded hover:bg-yellow-400">
                Ajouter le plat
            </button>
        </form>
        <script>
            document.getElementById("menu_form").addEventListener("submit", function(e){
                e.preventDefault();
                ShowConfirmationBanner("Plat ajouté avec succès !");
                setTimeout(() => e.target.submit(), 800);
            });

            function showConfirmationBanner(message){
                const banner = getElementById("confiermationBanner");
                const textBanner = getElementById("bannerText");
                if(message) textBanner.textContent = message;
                    banner.classList.add("show");
                    setTimeout(() =>banner.classList.remove("show"), 5000);
            }
        </script>
        <div id="confirmationBanner"
                 class="fixed top-5 right-[-400px] opacity-0 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg flex items-center space-x-3 transition-all duration-500 ease-in-out z-50">
                <!-- Icône ✅ -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 13l4 4L19 7" />
                </svg>
                <span id="bannerText" class="font-semibold">Plat ajouté avec succès !</span>
        </div>
</body>
</html>